.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

@media (max-width: 50em) {
  .hide-on-mobile {
    display: none;
  }
}

@media (min-width: 50em) {
  .hide-on-desktop {
    display: none;
  }
}

@media (min-width: 50rem) {
  div:has(> .starlight-showcases-profile-card) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
  }
}
